body{
  background-color: #232946;
  
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #fffffe
}
html {
  text-align: center;
  font-family: Monaco;
}

label{
  font-size: 25px;
  color: #fffffe;
  font-family: 'Open Sans', sans-serif;
}

.reset{
  border: 2px solid black;
  box-shadow: none;
  background-color: #eebbc3;
  border-radius: 20%;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
    -moz-appearance: none;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: #b8c1ec;
  border: 1px solid black;
}

.gridContainer {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}
